/*Base*/
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  font-size: 16px;
  color: #fff;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #d4c17f;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.section-header {
  font-size: 2.25em;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  line-height: 1.33;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 35px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.input-form {
  max-width: 255px;
  min-height: 50px;
  background: #ffffff52;
  text-align: center;
  color: #fff;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.input-form::-webkit-input-placeholder {
  color: #BEBEBE;
}

.input-form:-ms-input-placeholder {
  color: #BEBEBE;
}

.input-form::-ms-input-placeholder {
  color: #BEBEBE;
}

.input-form::placeholder {
  color: #BEBEBE;
}

.input-form:focus {
  background: #ffffff3a;
}

.form-button {
  max-width: 255px;
  min-height: 50px;
  background-color: #d4c17f;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.form-button:hover {
  background-color: #d4c17f;
  opacity: .85;
}

/*Blocks*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url("./../img/header/Rectangle.jpg");
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("./../img/header/Rectangle.jpg");
  padding-top: 30px;
  padding-bottom: 74px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__title-icon:hover {
  -webkit-filter: brightness(175%);
          filter: brightness(175%);
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 98px;
}

.nav {
  font-size: 14px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.info {
  font-size: 18px;
  padding-left: 35px;
  position: relative;
}

.info::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}

.info__address::before {
  background-image: url("./../img/icons/placeholder.svg");
}

.info__tel::before {
  background-image: url("./../img/icons/phone-call.svg");
}

.benefits {
  margin: 120px auto;
}

.benefits-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
}

.benefits__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 53px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item-img {
  max-width: 80px;
  max-height: 80px;
}

.benefits__item-text {
  max-width: 193px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
}

.apartments__cards {
  margin-top: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.apartments__card-item {
  display: block;
  position: relative;
  max-width: 540px;
  height: 320px;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  will-change: transform;
}

.apartments__card-item::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.apartments__card-item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.apartments__card-item:hover::after {
  opacity: 1;
}

.apartments__card-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33)), url("./../img/cards/01.jpg");
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url("./../img/cards/01.jpg");
}

.apartments__card-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33)), url("./../img/cards/02.jpg");
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url("./../img/cards/02.jpg");
}

.apartments__card-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33)), url("./../img/cards/03.jpg");
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url("./../img/cards/03.jpg");
}

.apartments__card-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33)), url("./../img/cards/04.jpg");
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url("./../img/cards/04.jpg");
}

.apartments__card-header {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.16;
  position: absolute;
  bottom: 44px;
  left: 50px;
  z-index: 2;
}

.cta {
  width: 100%;
  min-height: 560px;
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url("./../img/cta/cta_bg.jpg"), #C4C4C4;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../img/cta/cta_bg.jpg"), #C4C4C4;
}

.cta__wrapper {
  margin-top: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta_text {
  line-height: 1.5;
  font-weight: 400;
}

.cta__form-privacy {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2;
  color: #E7E7E7;
}
/*# sourceMappingURL=main.css.map */