.benefits {
  padding: 120px 0;
  position: relative;


  &::after {
    content: 'II';

    left: calc(50% + 555px);
    transform: translate(-50%, 0);

    @include decorNumber();
  }
}

.benefits-row {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.benefits__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 53px;
  justify-content: center;
  align-items: center;
}

.benefits__item-img {
  max-width: 80px;
  max-height: 80px;
}

.benefits__item-text {
  max-width: 193px;
  font-family: $font-secondury;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
}