.benefits {
  padding: 120px 0;
  position: relative;

  &::after {
    content: 'II';

    position: absolute;
    top:0;
    left: calc(50% + 555px);
    transform: translate(-50%, 0);
    line-height: 1.15;

    opacity: 0.03;
    color:$white;
    font-family: $font-accent;
    font-size: 25em;
    font-weight: 700;
  }
}

.benefits-row {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.benefits__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 53px;
  justify-content: center;
  align-items: center;
}

.benefits__item-img {
  max-width: 80px;
  max-height: 80px;
}

.benefits__item-text {
  max-width: 193px;
  font-family: $font-secondury;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
}