.section-map {
  position: relative;

  &::before {
    content: 'V';

    position: absolute;
    top:0;
    right: calc(50% + 555px);
    transform: translate(50%, -6%);
    line-height: 1.15;

    opacity: 0.03;
    color:$white;
    font-family: $font-accent;
    font-size: 25em;
    font-weight: 700;
  }
}

.section-map__map {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

